/*
 * Copyright (C) 2016 Variscite, Ltd. All Rights Reserved
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {
	sound-hdmi {
		status = "disabled";
	};
};

&can1 {
	status = "disabled";
};

&ecspi3 {
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_ecspi3_1>;
	pinctrl-1 = <&pinctrl_ecspi3_1_sleep>;
	cs-gpios = <&gpio4 24 0>;
	status = "okay";
	
	/* Touch */
	ads7846@0 {
		reg = <0>;	/* CS0 */
		compatible = "ti,ads7846";
		interrupt-parent = <&gpio4>;
		interrupts = <25 0>;
		spi-max-frequency = <1500000>;
		pendown-gpio = <&gpio4 25 0>;
		ti,x-min = /bits/ 16 <125>;
		ti,x-max = /bits/ 16 <4008>;
		ti,y-min = /bits/ 16 <282>;
		ti,y-max = /bits/ 16 <3864>;
		ti,x-plate-ohms = /bits/ 16 <180>;
		ti,pressure-max = /bits/ 16 <255>;
		ti,debounce-max = /bits/ 16 <10>;
		ti,debounce-tol = /bits/ 16 <3>;
		ti,debounce-rep = /bits/ 16 <1>;
		ti,settle-delay-usec = /bits/ 16 <150>;
		ti,keep-vref-on;
	};
};

&hdmi_audio {
	status = "disabled";
};

&hdmi_core  {
	status = "disabled";
};

&hdmi_video {
	status = "disabled";
};

&hdmi_cec {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&i2c3 {
	status = "disabled";
};

&iomuxc {
	pinctrl-0 = <&pinctrl_hog_jig>;

	imx6qdl-var-som-mx6 {

		pinctrl_hog_jig: jiggrp {
			fsl,pins = <
				/* for Bluetooth/wifi enable */
				MX6QDL_PAD_SD3_DAT6__GPIO6_IO18		0x1b0b1
				/* PMIC INT */
				MX6QDL_PAD_GPIO_17__GPIO7_IO12		0x80000000
				/* Wifi Slow Clock */
				MX6QDL_PAD_ENET_RXD0__OSC32K_32K_OUT	0x000b0
				/* Audio Clock */
				MX6QDL_PAD_GPIO_0__CCM_CLKO1		0x130b0
				/* Audio reset */
				MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x178b0
				/* Resistive touch irq */
				MX6QDL_PAD_DISP0_DAT4__GPIO4_IO25	0x178b0


				MX6QDL_PAD_GPIO_1__GPIO1_IO01		0x1b0b1
				MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x1b0b1
				MX6QDL_PAD_GPIO_3__GPIO1_IO03		0x1b0b1
				MX6QDL_PAD_GPIO_4__GPIO1_IO04		0x1b0b1
				MX6QDL_PAD_GPIO_5__GPIO1_IO05		0x1b0b1
				MX6QDL_PAD_GPIO_7__GPIO1_IO07		0x1b0b1
				MX6QDL_PAD_GPIO_8__GPIO1_IO08		0x1b0b1
				MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x1b0b1
				MX6QDL_PAD_ENET_RX_ER__GPIO1_IO24	0x1b0b1
				MX6QDL_PAD_SD4_DAT1__GPIO2_IO09		0x1b0b1
				MX6QDL_PAD_SD4_DAT3__GPIO2_IO11		0x1b0b1
				MX6QDL_PAD_SD4_DAT6__GPIO2_IO14		0x1b0b1
				MX6QDL_PAD_EIM_EB2__GPIO2_IO30		0x1b0b1
				MX6QDL_PAD_EIM_EB3__GPIO2_IO31		0x1b0b1
				MX6QDL_PAD_EIM_DA5__GPIO3_IO05		0x1b0b1
				MX6QDL_PAD_EIM_DA7__GPIO3_IO07		0x1b0b1
				MX6QDL_PAD_EIM_DA13__GPIO3_IO13		0x1b0b1
				MX6QDL_PAD_EIM_D19__GPIO3_IO19		0x1b0b1
				MX6QDL_PAD_EIM_D20__GPIO3_IO20		0x1b0b1
				MX6QDL_PAD_EIM_D21__GPIO3_IO21		0x1b0b1
				MX6QDL_PAD_EIM_D22__GPIO3_IO22		0x1b0b1
				MX6QDL_PAD_EIM_D23__GPIO3_IO23		0x1b0b1
				MX6QDL_PAD_EIM_D24__GPIO3_IO24		0x1b0b1
				MX6QDL_PAD_EIM_D25__GPIO3_IO25		0x1b0b1
				MX6QDL_PAD_EIM_D26__GPIO3_IO26		0x1b0b1
				MX6QDL_PAD_EIM_D27__GPIO3_IO27		0x1b0b1
				MX6QDL_PAD_EIM_D30__GPIO3_IO30		0x1b0b1
				MX6QDL_PAD_KEY_COL0__GPIO4_IO06		0x1b0b1
				MX6QDL_PAD_KEY_ROW0__GPIO4_IO07		0x1b0b1
				MX6QDL_PAD_KEY_COL1__GPIO4_IO08		0x1b0b1
				MX6QDL_PAD_KEY_ROW1__GPIO4_IO09		0x1b0b1
				MX6QDL_PAD_KEY_COL2__GPIO4_IO10		0x1b0b1
				MX6QDL_PAD_KEY_COL4__GPIO4_IO14		0x1b0b1
				MX6QDL_PAD_KEY_ROW4__GPIO4_IO15		0x1b0b1
				MX6QDL_PAD_DISP0_DAT9__GPIO4_IO30	0x1b0b1
				MX6QDL_PAD_DISP0_DAT18__GPIO5_IO12	0x1b0b1
				MX6QDL_PAD_DISP0_DAT19__GPIO5_IO13	0x1b0b1
				MX6QDL_PAD_DISP0_DAT20__GPIO5_IO14	0x1b0b1
				MX6QDL_PAD_DISP0_DAT21__GPIO5_IO15	0x1b0b1
				MX6QDL_PAD_DISP0_DAT22__GPIO5_IO16	0x1b0b1
				MX6QDL_PAD_DISP0_DAT23__GPIO5_IO17	0x1b0b1
				MX6QDL_PAD_CSI0_PIXCLK__GPIO5_IO18	0x1b0b1
				MX6QDL_PAD_CSI0_MCLK__GPIO5_IO19	0x1b0b1
				MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20	0x1b0b1
				MX6QDL_PAD_CSI0_VSYNC__GPIO5_IO21	0x1b0b1
				MX6QDL_PAD_CSI0_DAT8__GPIO5_IO26	0x1b0b1
				MX6QDL_PAD_CSI0_DAT9__GPIO5_IO27	0x1b0b1
				MX6QDL_PAD_CSI0_DAT12__GPIO5_IO30	0x1b0b1
				MX6QDL_PAD_CSI0_DAT13__GPIO5_IO31	0x1b0b1
				MX6QDL_PAD_CSI0_DAT14__GPIO6_IO00	0x1b0b1
				MX6QDL_PAD_CSI0_DAT15__GPIO6_IO01	0x1b0b1
				MX6QDL_PAD_CSI0_DAT16__GPIO6_IO02	0x1b0b1
				MX6QDL_PAD_CSI0_DAT17__GPIO6_IO03	0x1b0b1
				MX6QDL_PAD_CSI0_DAT18__GPIO6_IO04	0x1b0b1
				MX6QDL_PAD_CSI0_DAT19__GPIO6_IO05	0x1b0b1
				MX6QDL_PAD_GPIO_16__GPIO7_IO11		0x1b0b1
			>;
		};

		pinctrl_ecspi3_1: ecspi3grp {
			fsl,pins = <
				MX6QDL_PAD_DISP0_DAT2__ECSPI3_MISO	0x100b1
				MX6QDL_PAD_DISP0_DAT1__ECSPI3_MOSI	0x100b1
				MX6QDL_PAD_DISP0_DAT0__ECSPI3_SCLK	0x100b1
				MX6QDL_PAD_DISP0_DAT3__GPIO4_IO24	0x178b0 /* CS */
			>;
		};
	};
};

&ldb {
	status = "okay";
	dual-mode;

	lvds-channel@0 {
		primary;
		crtc = "ipu1-di0";
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";

		display-timings {
			native-mode = <&timingjig0>;
			timingjig0: hsd100pxn1 {
				clock-frequency = <32000000>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <39>;
				hfront-porch = <39>;
				vback-porch = <29>;
				vfront-porch = <13>;
				hsync-len = <47>;
				vsync-len = <2>;
			};
		};
	};

	lvds-channel@1 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";
		crtc = "ipu2-di0";

		display-timings {
			native-mode = <&timingjig1>;
			timingjig1: hsd100pxn2 {
				clock-frequency = <32000000>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <39>;
				hfront-porch = <39>;
				vback-porch = <29>;
				vfront-porch = <13>;
				hsync-len = <47>;
				vsync-len = <2>;
			};
		};
	};
};

&mxcfb1{
	compatible = "fsl,mxc_sdc_fb";
	disp_dev = "ldb";
	interface_pix_fmt = "RGB24";
	default_bpp = <24>;
	int_clk = <0>;
	late_init = <0>;
	status = "okay";
};

&mxcfb2{
	status = "disabled";
};

&mxcfb3{
	status = "disabled";
};

&mxcfb4{
	compatible = "fsl,mxc_sdc_fb";
	disp_dev = "ldb";
	interface_pix_fmt = "RGB24";
	default_bpp = <24>;
	int_clk = <0>;
	late_init = <0>;
	status = "okay";
};

&pcie {
	reset-gpio    = <>;	/* gpio pin number of power good signal */
	wake-up-gpio  = <>;	/* gpio pin number of incoming wakeup signal */
	disable-gpio  = <>;	/* gpio pin number of outgoing rfkill/endpoint disable signal */
	status = "okay";
};

&pwm2 {
	status = "disabled";
};

&uart3 {
	status = "disabled";
};

&usbotg {
	pinctrl-0 = <>;
	dr_mode = "peripheral" ;
};

&usdhc2 {	/* uSDHC2, MMC/SD card */
	cd-gpios = <>;
	wp-gpios = <>;
	non-removable;
};
